aside{
    background-color: gray;
    height: 81.5%;
    width: 24.5%;
    position: relative;
    left: 73%;
    top: 13%;
    display: grid;
    grid-template-rows: 10% 45% 45%;
}

.artigo-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;        
    
    section{
        background-color: white;
        border: 10px solid gray;
    }

}
#sec5 {

    background-color: white;
    border: 20px solid gray;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 10%;
    display: grid;
    grid-template-rows: 80% 1fr;
    
    ul{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 20%;
        color: black;
        text-align: left;
    }

}